<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mvp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" /> <!-- 开机启动权限 -->
    <!-- 允许一个程序接收到 ACTION_BOOT_COMPLETED广播在系统完成启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 开机自启动 -->
    <!-- //允许程序禁用键盘锁 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 禁止home -->
    <!-- 获取设备号权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 网络权限 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 屏幕长亮 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 以下是使用wifi访问网络所需的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!--  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".base.MvpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <receiver
            android:name=".broadcast.NetConnectionReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".activity.main.SpannableActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activity.main.WebActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activity.main.RxActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activity.main.DialogActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"></activity> <!-- 开机自启动 -->
        <receiver
            android:name=".broadcast.StartSelfBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000"> <!-- //优先级 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_welcome"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_welcome"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.wifi.WifiActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_welcome"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 更新apk -->
        <service android:name=".services.update.service.DownloadService" />

        <provider
            android:name=".services.update.config.AppUpdateFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_update_file" />
        </provider>
    </application>

</manifest>